@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'code';

@layer base {
    html {
        @apply scroll-smooth;
    }

    body {
        @apply text-black dark:text-white;
        cursor: url(/cursor.png) 3 7, auto;
    }

    main {
        @apply prose dark:prose-invert relative mx-auto px-4 sm:pt-0;
    }

    h1, h2, h3, h4 {
        @apply font-mono;
    }

    h2, h3, h4 {
        @apply underline underline-offset-4 decoration-2;
    }

    h1 {
        @apply m-2 my-8 p-4 border-2 border-yellow-600 border-dashed text-center;
    }

    h2 {
        @apply decoration-yellow-500 dark:decoration-yellow-600;
    }

    h3 {
        @apply decoration-green-600;
    }

    h4 {
        @apply decoration-blue-600;
    }

    a {
        @apply underline-offset-2 underline text-blue-500 dark:text-cyan-600 hover:text-yellow-500 dark:hover:text-green-600 focus:outline focus:outline-offset-2 focus:outline-2 focus:outline-yellow-600;
    }

    a:hover {
        cursor: url(/pointer.png) 5 0, auto;
    }

    blockquote {
        @apply border-yellow-600 border-l-2;
    }

    code {
        @apply p-1 bg-neutral-700 rounded-lg before:content-none after:content-none;
    }

    pre > code {
        @apply p-0;
    }

    pre {
        @apply mb-0 rounded-b-none;
    }

    @media(hover: hover) and (pointer: fine) {
        button:hover {
            @apply bg-yellow-600 text-black;
        }
    }

    button {
        @apply text-right w-full mb-4 rounded-b-md bg-neutral-800 transition-all;
    }

    button:active {
        @apply bg-green-600 text-black;
    }

    kbd {
        @apply px-2 p-1 bg-neutral-800 border-b-4 border-2 border-black rounded-md;
    }

    figure {
        @apply bg-neutral-900 hover:border-2 hover:scale-125 hover:p-4 transition-all;
    }

    figure > img {
        @apply mx-auto mt-0 py-0;
    }

    figcaption {
        @apply text-center
    }

    li {
        @apply pr-4;
    }

    ol {
        @apply ml-1;
    }

    nav ol { counter-reset: list-item; }
    nav li { display: block; counter-increment: list-item; }
    nav li:before { content: counters(list-item,'.') ' · '; }
}
