@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'code';

@layer base {
    body {
        @apply text-black dark:text-white;
        cursor: url(/favicon-32x32.png) 45 5, auto;
    }
    h1, h2, h3, h4 {
        @apply underline underline-offset-4 decoration-2 ;
    }

    h1 {
        @apply decoration-green-500 dark:decoration-yellow-600 text-2xl pb-4 ;
    }

    h2 {
        @apply decoration-yellow-500 dark:decoration-green-600;
    }

    h3 {
        @apply decoration-blue-500;
    }

    p {
        @apply py-2 px-2 sm:px-4;
    }

    a {
        @apply underline-offset-2 underline text-blue-500 dark:text-cyan-600 hover:text-yellow-500 dark:hover:text-green-600 focus:outline-double focus:outline-offset-2 focus:outline-2 focus:outline-yellow-600;
    }

    a:hover {
        cursor: url(/pointer.png) 40 0, auto;
    }

    ul {
        @apply px-6 list-disc;
    }

    ul > li {
        @apply p-2;
    }

    figure > img {
        @apply mx-auto;
    }

    figcaption {
        @apply text-center
    }
}
